# Midterm

### Read test.txt file and perform the following task
====================================================

1) Find count of unique words

In [1]:
# Your code here
import numpy as np
import pandas as pd
from itertools import islice

with open('E:/Data Sciences/test.txt', encoding='utf-8-sig') as file:
    print("reading  images URLs file")
    for line in islice(file, 50): # read no more than 50 lines from the file
        print("Line: ", line, end='')

reading  images URLs file
Line:  Tony Blair became "obsessed" with creating a British football league as a way of bringing the UK together,
Line:  the former prime minister has revealed.
Line:  Mr Blair said he believed merging the Scottish and English leagues
Line:  would strengthen the bonds between the two nations after devolution.
Line:  But he said a British national football team would have been a "step too far".
Line:  Mr Blair was speaking to BBC Scotland to mark the 20th
Line:  anniversary of the devolution referendum.
Line:  The referendum was held just four months after he led Labour to a
Line:  landslide victory in the 1997 general election.
Line:  The birth of the Scottish Parliament.
Line:  Looking back at the referendum - which led to the creation of the Scottish Parliament
Line:  in Edinburgh two years later - and its aftermath, Mr Blair said he believed
Line:  in retrospect that he could have "looked for more ways to keep Scotland and England culturally aligned".
Line:  He told BBC Scotland's political editor Brian Taylor: "I know it sounds a bit strange but
Line:  I was for a time quite obsessed with the idea that, for example, for football we should be opening up
Line:  the English league and the Scottish league and having them together.
Line:  "I always thought we should be looking at ways of making sure that people felt a connection."

2) Find unique words and their frequencies

In [2]:
# Your code here

import nltk
from collections import defaultdict

d = defaultdict(int)
for word in open('E:/Data Sciences/test.txt').read().split(): #separating unique words from  a text file 
    d[word] += 1
print(d)

with open ("E:/Data Sciences/test.txt", "r") as myfile:
    data=myfile.read().replace('\n', ' ')

data = data.split(' ')
fdist1 = nltk.FreqDist(data)
print (fdist1.most_common(50))

defaultdict(<class 'int'>, {'Tony': 1, 'Blair': 4, 'became': 1, '"obsessed"': 1, 'with': 2, 'creating': 1, 'a': 8, 'British': 2, 'football': 3, 'league': 3, 'as': 1, 'way': 1, 'of': 5, 'bringing': 1, 'the': 15, 'UK': 1, 'together,': 1, 'former': 1, 'prime': 1, 'minister': 1, 'has': 1, 'revealed.': 1, 'Mr': 3, 'said': 3, 'he': 5, 'believed': 2, 'merging': 1, 'Scottish': 4, 'and': 5, 'English': 2, 'leagues': 1, 'would': 2, 'strengthen': 1, 'bonds': 1, 'between': 1, 'two': 2, 'nations': 1, 'after': 2, 'devolution.': 1, 'But': 1, 'national': 1, 'team': 1, 'have': 2, 'been': 1, '"step': 1, 'too': 1, 'far".': 1, 'was': 3, 'speaking': 1, 'to': 5, 'BBC': 2, 'Scotland': 2, 'mark': 1, '20th': 1, 'anniversary': 1, 'devolution': 1, 'referendum.': 1, 'The': 2, 'referendum': 2, 'held': 1, 'just': 1, 'four': 1, 'months': 1, 'led': 2, 'Labour': 1, 'landslide': 1, 'victory': 1, 'in': 3, '1997': 1, 'general': 1, 'election.': 1, 'birth': 1, 'Parliament.': 1, 'Looking': 1, 'back': 1, 'at': 2, '-': 2, 'which': 1, 'creation': 1, 'Parliament': 1, 'Edinburgh': 1, 'years': 1, 'later': 1, 'its': 1, 'aftermath,': 1, 'retrospect': 1, 'that': 2, 'could': 1, '"looked': 1, 'for': 4, 'more': 1, 'ways': 2, 'keep': 1, 'England': 1, 'culturally': 1, 'aligned".': 1, 'He': 1, 'told': 1, "Scotland's": 1, 'political': 1, 'editor': 1, 'Brian': 1, 'Taylor:': 1, '"I': 2, 'know': 1, 'it': 1, 'sounds': 1, 'bit': 1, 'strange': 1, 'but': 1, 'I': 1, 'time': 1, 'quite': 1, 'obsessed': 1, 'idea': 1, 'that,': 1, 'example,': 1, 'we': 2, 'should': 2, 'be': 2, 'opening': 1, 'up': 1, 'having': 1, 'them': 1, 'together.': 1, 'always': 1, 'thought': 1, 'looking': 1, 'making': 1, 'sure': 1, 'people': 1, 'felt': 1, 'connection."': 1})
[('the', 15), ('a', 8), ('', 7), ('of', 5), ('he', 5), ('and', 5), ('to', 5), ('Blair', 4), ('Scottish', 4), ('for', 4), ('football', 3), ('league', 3), ('Mr', 3), ('said', 3), ('was', 3), ('in', 3), ('with', 2), ('British', 2), ('believed', 2), ('English', 2), ('would', 2), ('two', 2), ('after', 2), ('have', 2), ('BBC', 2), ('Scotland', 2), ('The', 2), ('referendum', 2), ('led', 2), ('at', 2), ('-', 2), ('that', 2), ('ways', 2), ('"I', 2), ('we', 2), ('should', 2), ('be', 2), ('Tony', 1), ('became', 1), ('"obsessed"', 1), ('creating', 1), ('as', 1), ('way', 1), ('bringing', 1), ('UK', 1), ('together,', 1), ('former', 1), ('prime', 1), ('minister', 1), ('has', 1)]

## Taxi Demand Prediction - Case Study
======================================

In this notebook, we will take Taxi pickups data from New York and do all the basic Descrptive and Predictive Analysis.

<a id="TOC"></a>
# Table of Contents

# A. [Importing the required Libraries](#import)
# B. [Loading the dataset Using Pandas](#loaddata)
# C. [Data Understanding](#dataunderstanding)                      				
# D. [Finding Peak Hours](#peakhours)     
# E. [Finding Peak days](#peakdays)
# F. [Now filter saturday data and let me know about peak hours for that day](#saturday)
# G. [Busiest Days for Taxis](#busyday)
# H. [Which Vendor is most succussful in the given dataset?](#vendor)
# I. [Is there any change in demand of 8 seater taxi on Saturday? If yes then how much?](#weekend)

<a id = "import"></a>
## Importing the required Libraries

In [59]:
#Your Code here
from scipy import stats
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import io
from io import BytesIO
import requests

<a id = "loaddata"></a>
## Loading the Dataset Using Pandas
Load the data from 'TaxiTripdata.xlsx'

In [28]:
#Your Code here

Data1 = pd.ExcelFile('TaxiTripdata.xlsx')

#Only parse one spreadsheet
Data = Data1.parse('Taxi Tripdata.csv')
Data

,vendor_id,pickup_datetime,dropoff_datetime,rate_code,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
0,2,2013-12-01 00:00:00,2013-12-01 20:44:00,1,0.000000,0.000000,-73.957260,40.742355,1,4.00
1,2,2013-12-01 00:00:00,2013-12-01 02:53:00,1,0.000000,0.000000,0.000000,0.000000,1,3.17
2,2,2013-12-01 00:00:00,2013-12-01 02:17:00,1,0.000000,0.000000,-73.991531,40.729755,1,3.61
3,2,2013-12-01 00:00:00,2013-12-01 12:57:00,1,0.000000,0.000000,-73.768448,40.758572,1,4.09
4,2,2013-12-01 00:00:00,2013-12-01 18:08:00,1,0.000000,0.000000,-73.994026,40.681480,5,12.07
5,2,2013-12-01 00:00:00,2013-12-01 12:56:00,1,0.000000,0.000000,-73.950806,40.686077,1,2.97
6,2,2013-12-01 00:00:00,2013-12-01 19:30:00,1,0.000000,0.000000,-73.945267,40.750851,1,1.17
7,2,2013-12-01 00:00:00,2013-12-01 17:16:00,1,0.000000,0.000000,-73.783379,40.649666,1,13.89
8,2,2013-12-01 00:00:00,2013-12-01 00:07:00,1,-73.938248,40.796478,-73.942017,40.808811,1,1.49
9,2,2013-12-01 00:00:00,2013-12-01 00:15:00,1,-73.920708,40.767776,-73.923614,40.824993,5,5.81
10,1,2013-12-01 00:00:00,2013-12-01 00:19:00,1,-73.909760,40.666023,-73.941910,40.714588,1,4.10
11,2,2013-12-01 00:00:00,2013-12-01 00:10:00,1,-73.819099,40.695763,-73.852592,40.697273,1,2.29
12,2,2013-12-01 00:00:00,2013-12-01 00:07:00,1,-73.958237,40.815990,-73.944016,40.807323,1,0.99
13,2,2013-12-01 00:00:00,2013-12-01 00:09:00,1,-73.906586,40.745358,-73.931854,40.744499,5,1.50
14,2,2013-12-01 00:00:00,2013-12-01 00:06:00,1,-73.938797,40.837158,-73.944435,40.824398,1,1.12
15,2,2013-12-01 00:00:00,2013-12-01 00:05:00,1,-73.958961,40.716686,-73.965454,40.716831,1,0.68
16,2,2013-12-01 00:00:00,2013-12-01 00:13:00,1,-73.957932,40.721661,-73.943344,40.695358,1,2.30
17,2,2013-12-01 00:00:00,2013-12-01 00:23:00,1,-73.957916,40.721828,-73.982376,40.742893,2,5.40
18,2,2013-12-01 00:00:00,2013-12-01 00:08:00,1,-73.949265,40.813007,-73.944679,40.794682,1,1.79
19,2,2013-12-01 00:00:00,2013-12-01 00:14:00,1,-73.957985,40.815426,-73.929535,40.807804,1,2.87
20,1,2013-12-01 00:00:00,2013-12-01 00:33:00,1,-73.910400,40.769398,-73.988983,40.757774,2,6.20
21,2,2013-12-01 00:01:00,2013-12-01 00:19:00,1,-73.905350,40.750069,-73.904243,40.696388,1,4.71
22,2,2013-12-01 00:01:00,2013-12-01 00:08:00,1,-73.917160,40.770798,-73.899467,40.768253,5,1.42
23,1,2013-12-01 00:01:00,2013-12-01 00:04:00,1,-73.844177,40.721027,-73.842499,40.719620,1,0.50
24,2,2013-12-01 00:01:00,2013-12-01 00:04:00,1,-73.844276,40.721539,-73.846001,40.718201,1,0.93
25,2,2013-12-01 00:01:00,2013-12-01 00:16:00,1,-73.953339,40.718864,-74.003319,40.708027,3,3.82
26,2,2013-12-01 00:01:00,2013-12-01 00:09:00,1,-73.903465,40.745499,-73.901108,40.729664,1,1.49
27,2,2013-12-01 00:01:00,2013-12-01 00:11:00,1,-73.929726,40.756432,-73.911041,40.744614,1,1.80
28,2,2013-12-01 00:01:00,2013-12-01 00:04:00,1,-73.920944,40.756561,-73.917786,40.758492,1,0.26
29,2,2013-12-01 00:01:00,2013-12-01 00:19:00,1,-73.995735,40.690681,-73.982178,40.743351,1,6.90
...,...,...,...,...,...,...,...,...,...,...
162735,2,2013-12-10 23:56:00,2013-12-11 00:00:00,1,-73.844254,40.721321,-73.853638,40.714153,1,0.95
162736,2,2013-12-10 23:57:00,2013-12-11 00:10:00,1,-73.955345,40.720070,-73.933113,40.697754,2,2.64
162737,2,2013-12-10 23:57:00,2013-12-11 00:03:00,1,-73.889458,40.747032,-73.867073,40.752522,1,1.36
162738,2,2013-12-10 23:57:00,2013-12-10 23:59:00,1,-73.844086,40.721531,-73.830215,40.713505,1,0.94
162739,1,2013-12-10 23:57:00,2013-12-11 00:07:00,1,-73.961693,40.719334,-73.969299,40.695377,1,2.40
162740,2,2013-12-10 23:57:00,2013-12-11 00:08:00,1,-73.986084,40.669155,-74.018036,40.648056,5,2.58
162741,2,2013-12-10 23:57:00,2013-12-11 00:28:00,1,-73.993980,40.667778,-73.847717,40.715683,1,13.46
162742,1,2013-12-10 23:57:00,2013-12-11 00:08:00,1,-73.975578,40.687096,-73.934662,40.696808,2,3.00
162743,2,2013-12-10 23:57:00,2013-12-11 00:14:00,1,-73.949532,40.827473,-73.885811,40.755417,3,8.52
162744,1,2013-12-10 23:57:00,2013-12-11 00:09:00,1,-73.955147,40.820297,-73.934128,40.798855,1,2.30
162745,2,2013-12-10 23:57:00,2013-12-11 00:03:00,1,-73.896347,40.746120,-73.897903,40.733105,1,0.97
162746,2,2013-12-10 23:57:00,2013-12-11 00:15:00,1,-73.825958,40.694458,-73.834251,40.673325,1,4.92
162747,2,2013-12-10 23:58:00,2013-12-11 00:07:00,1,-73.890884,40.746502,-73.882889,40.762875,1,1.70
162748,2,2013-12-10 23:58:00,2013-12-11 00:22:00,1,-73.963043,40.717072,-73.968582,40.677677,1,4.70
162749,2,2013-12-10 23:58:00,2013-12-11 00:06:00,1,-73.951607,40.713879,-73.952309,40.694382,1,1.68
162750,2,2013-12-10 23:58:00,2013-12-11 00:05:00,1,-73.923683,40.761200,-73.931877,40.774117,1,1.46
162751,2,2013-12-10 23:58:00,2013-12-11 00:22:00,1,-73.843620,40.720993,-73.948952,40.785961,1,13.16
162752,2,2013-12-10 23:58:00,2013-12-11 00:04:00,1,-73.980347,40.676495,-73.993965,40.667164,1,1.15
162753,2,2013-12-10 23:58:00,2013-12-11 00:08:00,5,-73.937279,40.801895,-73.902344,40.865040,1,6.04
162754,1,2013-12-10 23:58:00,2013-12-10 23:58:00,1,-73.862953,40.749996,0.000000,0.000000,1,0.00
162755,2,2013-12-10 23:58:00,2013-12-11 00:10:00,1,-73.891090,40.746712,-73.828888,40.756756,1,3.61
162756,2,2013-12-10 23:58:00,2013-12-11 00:15:00,1,-73.915863,40.772076,-73.909676,40.723042,1,3.88
162757,2,2013-12-10 23:58:00,2013-12-11 00:13:00,1,-73.953316,40.786919,-73.981117,40.764938,1,2.80
162758,1,2013-12-10 23:59:00,2013-12-11 00:01:00,1,-73.920464,40.852215,-73.907722,40.853844,1,0.80
162759,2,2013-12-10 23:59:00,2013-12-11 00:03:00,1,-73.914551,40.765926,-73.903061,40.775284,1,0.94
162760,2,2013-12-10 23:59:00,2013-12-11 00:13:00,1,-73.966309,40.804657,-73.894501,40.902077,1,8.76
162761,2,2013-12-10 23:59:00,2013-12-11 00:07:00,1,-73.945335,40.807877,-73.969963,40.802254,1,2.06
162762,2,2013-12-10 23:59:00,2013-12-11 00:10:00,1,-73.921402,40.766949,-73.893967,40.731125,1,4.45
162763,2,2013-12-10 23:59:00,2013-12-11 00:19:00,1,-73.945198,40.807938,-73.995415,40.721680,1,9.28
162764,2,2013-12-10 23:59:00,2013-12-11 00:14:00,1,-73.927628,40.866505,-73.917267,40.878162,1,2.67

List down the columns in dataframe

In [5]:
#Your Code here
list(Data.columns.values)

['vendor_id',
 'pickup_datetime',
 'dropoff_datetime',
 'rate_code',
 'pickup_longitude',
 'pickup_latitude',
 'dropoff_longitude',
 'dropoff_latitude',
 'passenger_count',
 'trip_distance']

List down the datatypes of each column

In [6]:
#Your Code here
Data.dtypes

vendor_id                     int64
pickup_datetime      datetime64[ns]
dropoff_datetime     datetime64[ns]
rate_code                     int64
pickup_longitude            float64
pickup_latitude             float64
dropoff_longitude           float64
dropoff_latitude            float64
passenger_count               int64
trip_distance               float64
dtype: object

<a id = "dataunderstanding"></a>
## Data Understanding
List down the number of rows and columns in the dataset

In [7]:
#Your Code here
Data.shape[0]  #no of rows

162765

In [8]:
Data.shape[1] #no of columns

10

List down the non-null values in each column to check if there is need to fill the null values

In [9]:
#Your Code here

Data.bfill(axis=1).iloc[:, 0] #by checking it is gained that no value is null

0         2
1         2
2         2
3         2
4         2
5         2
6         2
7         2
8         2
9         2
10        1
11        2
12        2
13        2
14        2
15        2
16        2
17        2
18        2
19        2
20        1
21        2
22        2
23        1
24        2
25        2
26        2
27        2
28        2
29        2
         ..
162735    2
162736    2
162737    2
162738    2
162739    1
162740    2
162741    2
162742    1
162743    2
162744    1
162745    2
162746    2
162747    2
162748    2
162749    2
162750    2
162751    2
162752    2
162753    2
162754    1
162755    2
162756    2
162757    2
162758    1
162759    2
162760    2
162761    2
162762    2
162763    2
162764    2
Name: vendor_id, Length: 162765, dtype: object

In [10]:
Data.isnull().all()

vendor_id            False
pickup_datetime      False
dropoff_datetime     False
rate_code            False
pickup_longitude     False
pickup_latitude      False
dropoff_longitude    False
dropoff_latitude     False
passenger_count      False
trip_distance        False
dtype: bool

Next, we would like to discover outliers. Do you see any?

In [11]:
#Your Code here
Data = pd.DataFrame(np.random.randn(100, 12))
Data[(np.abs(stats.zscore(Data)) < 12).all(axis=1)]

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.168937,0.031943,-0.347081,0.154094,-0.223864,0.589537,0.097991,0.886216,0.436059,2.607654,-0.491576,1.302770
1,-0.782448,1.539767,0.986246,-0.975031,0.327191,-0.607135,0.101349,0.078476,-1.132411,-1.808998,0.708863,-1.161361
2,-1.786698,-0.588704,0.566994,1.136815,-0.411541,-0.177579,-1.174146,0.783401,-0.628025,0.954730,-0.886142,0.010005
3,0.387810,1.051416,-0.305070,-0.645738,-0.139140,-0.929398,-0.175869,-1.770979,0.154280,-2.043564,-2.362513,0.620037
4,-0.375060,-0.407027,0.393168,0.816526,-0.955550,-0.620511,-0.341842,-0.008357,0.883447,0.039051,0.408401,0.574853
5,1.461438,0.008656,0.795770,-0.767749,0.550504,-1.834915,-1.079809,-1.516939,-0.363418,0.690541,1.208340,1.078786
6,2.128312,-0.079656,-1.652074,-0.185167,1.536696,-1.514574,-0.418806,0.076917,-1.487550,-1.504294,-1.196889,1.215826
7,-1.397289,1.305461,-1.475903,-0.366098,0.121176,-0.352047,-0.113895,0.449991,-0.361518,1.000682,-0.488581,-0.362192
8,-0.919806,-0.253327,0.420450,-1.228615,-0.170203,-0.147383,-0.498930,-0.503068,0.351545,-0.018285,1.034165,-1.257921
9,0.451545,-0.665105,-0.205740,0.534083,-1.571906,0.542695,-0.436457,0.484233,-0.085386,1.841683,-0.901850,-1.423069
10,0.706703,0.013472,1.147904,0.636788,-1.389760,-0.132689,-1.395850,1.793966,-0.391936,-0.521861,1.591133,-3.374928
11,-1.463335,0.363945,1.037766,1.477025,-0.543386,-0.942989,-1.709364,0.915459,0.113510,0.021394,0.629573,-0.449837
12,-0.818950,0.237724,0.605345,0.954733,1.481499,-1.092416,1.598821,-1.494356,0.969183,-2.225728,-0.165327,0.359967
13,-0.211789,0.903158,-0.876133,-0.495870,-1.229786,1.004691,-1.418485,1.733416,0.830422,-0.547298,0.181531,1.482721
14,0.982108,-0.316219,-1.056361,-0.181327,1.058644,-0.095081,-0.740861,-0.195436,0.844838,0.126785,-0.777434,1.662854
15,1.239926,-1.661259,-0.029910,3.266830,-0.615059,1.524710,-1.184819,0.111150,1.048027,0.988501,-1.182077,-0.147722
16,0.214693,-0.719979,0.091621,-0.962681,-0.625342,2.133321,1.754226,0.355346,-0.744937,1.003456,1.685011,-0.614439
17,0.748457,0.810318,0.282962,0.444154,-0.218761,1.347603,1.912063,-0.741901,-0.480154,-2.249734,1.265279,1.396641
18,0.563106,-0.222732,-0.750835,0.385995,-1.499145,0.759034,0.408774,-1.212840,-1.452063,0.896098,-0.677304,-0.608729
19,-1.261737,2.113855,0.426690,1.135978,0.120960,-0.354555,-0.245251,0.318982,-1.301161,1.675401,-0.286361,0.731675
20,0.365530,-1.407424,0.495818,-0.078788,-0.706523,1.011773,0.369574,1.111925,-1.643721,2.288092,1.417019,-0.411852
21,-1.480013,-0.338104,-1.574166,-0.451588,-0.351394,-0.988856,-1.164032,-0.322186,-0.423876,0.665506,-0.977777,0.055458
22,0.087691,-1.263107,-1.451396,-0.204493,-0.847761,1.851257,-1.497315,-1.596356,-1.406680,-1.083996,1.078904,0.733046
23,1.299027,-1.552887,0.691011,1.359617,-1.278279,0.315457,0.012769,-1.175277,2.054793,0.147289,0.711992,-0.269488
24,-1.470060,0.729036,-0.539797,-0.431140,-1.437661,0.377138,0.881291,-0.060958,0.088702,0.339843,-0.801466,-0.218462
25,1.104903,-1.615223,0.523206,1.163933,0.286255,-0.845935,1.069936,-1.527456,1.446028,-0.198736,-0.913879,-1.604782
26,-0.426044,-1.773985,-0.133892,1.670643,0.268624,-0.548304,0.379143,0.217621,-0.832829,-0.725154,1.211671,-2.529898
27,-0.130835,0.136614,0.331020,1.917449,-1.052922,0.892217,-0.845943,2.113302,-0.115195,1.969413,-0.922530,0.820408
28,0.055499,-0.070750,0.257401,0.541190,-1.067727,-0.390921,1.049772,0.116411,1.314356,0.167261,-0.398392,-0.084626
29,0.196447,-0.331441,-0.018184,-1.122590,0.603163,-0.005890,-1.287486,0.171870,1.058998,0.125660,-0.823350,-0.251170
...,...,...,...,...,...,...,...,...,...,...,...,...
70,0.097918,-1.014816,0.483164,-0.132159,0.045134,-0.650840,-0.524245,0.054993,-2.271273,0.197732,-0.086902,0.549824
71,-0.086813,0.196935,-0.103343,0.804695,-0.181315,-0.229605,0.640313,-0.242417,0.199440,-0.867694,0.489923,-0.856425
72,0.358227,2.041773,-0.384282,-0.083665,-0.928194,-1.828725,0.826395,0.356168,-0.636400,-0.786432,-0.682956,0.123008
73,0.902285,-0.758453,0.046770,-0.367155,1.884292,0.803091,0.153541,1.005061,1.272099,-1.095872,-0.484489,-0.201859
74,-1.674863,2.078156,0.424868,1.213447,0.799867,-0.528399,0.483465,-0.477836,-1.812980,1.483614,0.033692,0.849895
75,-1.331681,3.472489,0.168639,-0.892631,-0.394234,0.757411,1.120591,-1.118537,-1.234056,1.385707,-0.663505,0.359953
76,-1.587066,0.690656,-0.994669,1.198422,1.260244,1.387836,-0.363127,0.369434,-0.199159,-0.027974,-1.041219,2.384454
77,-0.098628,-1.334566,0.820813,0.954175,-0.847771,1.766452,0.778243,2.845929,-0.180293,1.124726,-1.615399,-0.209869
78,2.637887,0.976713,0.988413,-0.138913,-0.330662,-0.208075,1.881516,-1.611623,-1.806803,-0.079476,1.488689,-0.890876
79,-0.389447,0.203917,0.481175,0.337999,0.926323,0.436772,-0.921024,0.154972,-1.834824,0.646095,-0.520927,-1.466130
80,-0.425829,0.270954,0.671002,0.837600,0.776801,0.456894,-1.512362,-0.922101,-1.110560,-0.719318,-1.085889,1.526967
81,0.851973,-0.982300,0.940536,-1.552269,0.001317,1.050182,-0.111179,1.480931,0.851716,-0.284240,1.382307,0.063748
82,-0.769930,0.114596,0.801714,0.497008,0.234718,0.699160,-1.191819,-0.593782,-1.283419,-0.051372,-1.637809,-0.001393
83,-1.001670,-0.940322,-0.722516,0.284708,0.301655,-1.745765,-0.571328,-0.778407,-0.955612,-0.521580,-0.536998,-0.667829
84,0.218962,0.401514,-0.329895,-1.224283,-0.262636,1.074262,0.426649,-0.286595,-0.097579,1.733865,0.647115,-0.756422
85,0.798122,0.609789,-0.236038,0.371973,0.015540,-0.249751,0.250016,1.466876,1.203941,-1.186807,1.429576,-1.100249
86,-0.507293,-0.453127,1.475902,-0.754082,-1.109930,-0.048259,-1.669534,1.381876,-0.123582,0.089801,-1.024388,-1.941191
87,-2.930509,-0.049950,-1.864209,-1.679203,-0.202652,0.486795,-0.800631,0.755122,-0.685657,-0.190598,-1.511615,-0.058409
88,0.338156,-2.215478,-0.395222,-1.227143,-0.346475,0.320484,0.913195,0.369349,-0.079350,-0.208371,2.215214,0.006947
89,-0.535686,-0.350642,-0.737102,0.385906,0.969810,0.214432,-1.523708,-0.557849,1.108473,-1.467058,-0.873189,0.147034
90,0.062664,-0.580655,-1.084546,0.902189,-0.963865,-0.022892,1.023572,0.362471,-0.037812,-0.157575,-0.100550,-0.260579
91,2.631463,0.028862,0.408911,-0.600811,2.068054,-0.240558,1.215206,0.382205,0.068002,0.136899,0.459000,-1.431699
92,-1.386802,0.334106,2.057212,1.414842,1.499839,0.681668,0.884264,0.722184,-0.027660,-0.088994,-0.177979,-0.757546
93,0.899500,-0.613444,0.654879,2.154881,-1.162343,2.424715,-0.042708,0.557364,1.706921,2.330099,0.847198,-0.828114
94,-0.189781,0.836426,-1.174081,2.218521,-1.760396,0.311263,0.827165,0.341585,0.576610,-0.533303,0.056435,-1.894241
95,-0.685316,-0.000361,-1.437364,0.861511,-0.627011,1.170056,-0.256999,1.087162,0.402049,-0.115225,-0.103961,1.208739
96,-0.578838,-0.220923,-1.117490,-0.636208,0.607289,-0.937035,0.015319,0.652298,1.572887,-1.550163,0.548208,0.453789
97,-0.448941,-0.634073,-0.931805,-0.117260,-0.374954,0.869080,-0.213124,1.076791,-0.619023,0.408931,-1.274610,-0.955146
98,-0.801413,-0.036399,-0.050298,-1.577355,0.273733,0.789860,-0.335365,0.035613,-0.528011,-1.337803,-0.957856,-0.366529
99,-0.827938,0.455127,1.908197,1.278134,2.365608,-1.680231,1.744761,-1.585579,1.551403,0.212900,0.180957,1.360409

In [12]:
- list down the number of unique vendors
- list down the unique rate_code

SyntaxError: invalid syntax (<ipython-input-12-88e1b07ea74c>, line 1)

In [63]:
#Your Code here

Data.vendor_id.nunique() #this gets the number of unique values for each column

2

In [64]:
Data.rate_code.unique()

array([ 1,  5,  2,  3,  6,  4, 99], dtype=int64)

In [18]:
print(Data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
0     100 non-null float64
1     100 non-null float64
2     100 non-null float64
3     100 non-null float64
4     100 non-null float64
5     100 non-null float64
6     100 non-null float64
7     100 non-null float64
8     100 non-null float64
9     100 non-null float64
10    100 non-null float64
11    100 non-null float64
dtypes: float64(12)
memory usage: 9.5 KB
None

In [53]:
Data.count()

level_0    100
index      100
0          100
1          100
2          100
3          100
4          100
5          100
6          100
7          100
8          100
9          100
10         100
11         100
dtype: int64

<a id = "peakhours"></a>
## Finding Peak Hours

An interesting analysis could be find out the peak hours. This can be achieved if we count the number of trip for in each hour. You need to do the following:
- Plot the number of trips in each hour. 
- List the hours w.r.t number of trips in descending hour.

In [29]:
#Your Code here
#Data= Data.groupby([Data['pickup_datetime'].dt.hour, 'weekday'])['passenger_count']
Hours = Data.loc[:, ['pickup_datetime', 'dropoff_datetime', 'passenger_count']]
tripNumber = Hours.pickup_datetime.nunique()

In [30]:
#Your code here
tohour = Hours['pickup_datetime'].value_counts()
peakHours= pd.DataFrame(tohour)

In [75]:
peakHours.index.rename("Hours", inplace=True)
peakHours.columns = ["Total Trips"]

In [76]:
peakHours = peakHours.reset_index(drop=False)

In [77]:
peakHours.head()

                Hours  Total Trips
0 2013-12-06 19:26:00           41
1 2013-12-06 20:04:00           38
2 2013-12-06 20:08:00           37
3 2013-12-06 19:39:00           37
4 2013-12-06 19:18:00           36

In [78]:
peakHours['Hours'].dt.day_name()

0           Friday
1           Friday
2           Friday
3           Friday
4           Friday
5           Friday
6         Saturday
7         Saturday
8           Sunday
9         Saturday
10        Saturday
11          Friday
12          Friday
13          Friday
14          Friday
15          Friday
16        Saturday
17          Friday
18          Friday
19          Friday
20          Friday
21        Saturday
22          Sunday
23        Saturday
24          Friday
25        Saturday
26        Saturday
27          Friday
28        Saturday
29        Saturday
           ...
14279       Friday
14280     Thursday
14281      Tuesday
14282       Friday
14283       Sunday
14284       Friday
14285    Wednesday
14286       Monday
14287      Tuesday
14288      Tuesday
14289       Monday
14290      Tuesday
14291       Friday
14292       Monday
14293       Monday
14294     Thursday
14295      Tuesday
14296       Friday
14297       Monday
14298      Tuesday
14299       Monday
14300       Friday
14301       Monday
14302       Sunday
14303    Wednesday
14304     Thursday
14305       Monday
14306      Tuesday
14307      Tuesday
14308     Thursday
Name: Hours, Length: 14309, dtype: object

<a id = "saturday"></a>
## Saturday 

Lets find the peak hours for Saturday only

In [37]:
#Your code here
#peakHours['Hours'].dt.day_name['Saturday']

<a id = "busyday"></a>
## Busiest Days for Taxis

Which date was the busiest for taxis?

- List the no. of trips for each date in descending order

In [39]:
#Your code here
Data.sort_values(by=['tripNumber','pickup_datetime', 'dropoff_datetime'], ascending=False)

KeyError: 'tripNumber'

<a id = "vendor"></a>
## Which Vendor is most succussful in the given dataset?

- List the maximum total distance by any vendor in descending order
- List the maximum number of pickups by any vendor in descending order
- List the average distance covered by any vendor in descending order

In [36]:
#Your code here
Data.drop(Data.columns[[1,2,3]], axis=1, inplace=True)
Data.sort_values(by=['trip_distance','vendor_id'], ascending=False)

        vendor_id  dropoff_latitude  passenger_count  trip_distance
9076            2         40.985641                1         101.11
105053          1         40.276970                1          86.20
29499           1         40.740692                2          82.00
140468          1         40.159924                1          68.20
43417           2         40.758102                5          52.25
75801           2         40.875584                1          51.28
5932            2         41.388725                1          49.74
19386           1         40.840534                2          48.40
29333           2         40.759754                1          43.68
98073           1         40.859688                1          43.30
60636           1         40.745453                1          43.20
109816          1         40.640602                1          41.50
145460          1         40.351223                2          40.40
146168          1         40.351227                1          40.40
66447           2         40.759579                2          38.98
89943           2         40.840015                1          37.93
140079          2         40.695148                1          35.94
118397          1         40.766560                1          35.80
67249           1         40.796150                1          35.50
102718          2         40.737968                1          35.00
57771           1         40.741802                1          35.00
42481           2         40.693855                2          34.82
28638           1         40.829037                1          34.60
97589           1         40.756958                1          34.60
98709           1         40.755276                1          34.60
125303          1         40.646240                1          34.60
157736          2         40.645672                1          33.96
134035          2         41.056580                1          33.53
127096          1         40.693756                1          33.30
151089          1         40.720516                1          33.00
...           ...               ...              ...            ...
158425          1         40.757671                1           0.00
158834          1         40.868340                1           0.00
159007          1         40.789524                1           0.00
159067          1         40.683475                1           0.00
159131          1         40.651535                1           0.00
159216          1         40.693726                1           0.00
159243          1         40.757004                1           0.00
159287          1         40.744602                1           0.00
159356          1         40.744595                1           0.00
159375          1         40.744595                1           0.00
159517          1         40.758282                1           0.00
159629          1         40.659077                1           0.00
160019          1         40.778873                1           0.00
160086          1         40.822220                3           0.00
160117          1         40.692135                1           0.00
160369          1          0.000000                1           0.00
160459          1         40.755547                1           0.00
160801          1         40.769337                1           0.00
161126          1          0.000000                1           0.00
161505          1         40.593292                1           0.00
161597          1         40.850159                1           0.00
161731          1         40.850117                1           0.00
161773          1         40.761841                1           0.00
161843          1         40.800282                1           0.00
161861          1         40.800301                1           0.00
161875          1         40.800179                1           0.00
161949          1         40.719341                1           0.00
162621          1         40.739670                1           0.00
162638          1          0.000000                1           0.00
162754          1          0.000000                1           0.00

[162765 rows x 4 columns]

<a id = "saturday"></a>
## Is there any change in demand of 8 seater taxi on Saturday? If yes then how much?

- When number of passengers exceed 5, they hire a 8 seater taxi.

For this you need to find out the number of rides for Saturday for 8 seater and normal taxi and similar do it for other days and plot them for comparison.

In [ ]:
#Your code here